:root{
  --bg: #F4F6F6;
  --fg: #C8E2E2;
  --sc: #000000;
}

.dark-theme{
  --bg: #020617;
  --fg: #111827;
  --sc: #FFFFFF;
}
  
  .dots{
    background: radial-gradient(var(--sc), var(--bg) 50%);
  }

  
  .custom-scroll::-webkit-scrollbar {
    width: 12px; /* Scrollbar width */
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: var(--bg); /* Background color */
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--fg); /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid var(--bg); /* Add some padding around the thumb */
  }

  .custom-scroll {
    scrollbar-color: var(--fg) var(--bg); /* Thumb (scrollbar) and track (background) */
    scrollbar-width: thin; /* Make the scrollbar thinner */
  }