@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    input:-webkit-autofill {
      background-color: transparent !important;
      -webkit-box-shadow: 0 0 0 1000px white inset;
      box-shadow: 0 0 0 1000px white inset;
      color: inherit !important;
    }
  }
